.nav-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .nav-link {
    color: rgb(230, 100, 100);
    text-decoration: none;
    text-align: center;
    background-color: rgb(20, 9, 80);
    padding: 15px 21px;
    border-radius: 35px;
    font-size: large;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
  }